.fill{
	background: url('../img/logo-shadow.png') no-repeat center center;
	height: 275px;
}
header{
	height: 63px;
	background: url('../img/logo-text.png') no-repeat center center #ffffff;
	background-size: 150px;
} 
.search-prompt{
	height: 38px;
	background: @black;
	color: #ffffff;  
	text-align: center;
	.prompt-text{
		line-height: 38px; 
	}
	
} 
.search-box{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.8);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.8);
	box-shadow: 0 1px 3px rgba(0,0,0,.8);
	border-bottom: solid 1px #a6a5a5;
	input{
		background: url('../img/carot.png') no-repeat;
		background-position: 85% -2px;
		height: 38px;
		width: 100%;
		text-align: center;
		font-size: 18px;
		border: 0px;
		padding: 0px;

	}
}
.quick-pick{
	position: fixed;
	bottom: 0px;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	ul{
		height: 52px;
		margin:0px;
		padding: 0px;
	}
	li{ 
		height: 50px;
		width: 70px;
		display: inline-block;
		padding: 20px 5px;
		text-align: center;
	}
	.icon-game{
		background: url('../img/icon-game.png') no-repeat center top;
	}
	.icon-news{
		background: url('../img/icon-news.png') no-repeat center top;
	}
	.icon-video{
		background: url('../img/icon-video.png') no-repeat center top;
	}
	.icon-music{
		background: url('../img/icon-music.png') no-repeat center top;
	}
	.icon-navigation{
		background: url('../img/icon-navigation.png') no-repeat center top;
	}
}